# Ignore everything
*

# But not these files...
!.gitignore
!.tmux.conf
!.config/
!.config/kitty/
!.config/kitty/**
!.config/nvim/
!.config/nvim/**
!.config/yazi/
!.config/yazi/**
!.config/zellij/
!.config/zellij/**
!.wezterm.lua
!.p10k.zsh
!.zshrc

# etc...
